/app/.gradle/2.2.1/taskArtifacts/cache.properties
/app/.gradle/2.2.1/taskArtifacts/cache.properties.lock
/app/.gradle/2.2.1/taskArtifacts/fileHashes.bin
/app/.gradle/2.2.1/taskArtifacts/fileSnapshots.bin
/app/.gradle/2.2.1/taskArtifacts/outputFileStates.bin
/app/.gradle/2.2.1/taskArtifacts/taskArtifacts.bin
/app/.idea/.name
/app/.idea/compiler.xml
/app/.idea/copyright/profiles_settings.xml
/app/.idea/encodings.xml
/app/.idea/misc.xml
/app/.idea/modules.xml
/app/.idea/scopes/scope_settings.xml
/app/.idea/vcs.xml
/app/.idea/workspace.xml
/app/local.properties
